body{
  margin: 5em;
}

ul{  
  padding: 0;
  list-style-type: none;
}

li{
  margin-right: 2em;
  margin-top: 1em;
}

main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
}

h1{
  border-bottom: solid black;
}

footer{
  padding-top: 1em;
  border-top: solid black;
}

a{
  font-weight: bold;
  text-decoration: none;
}

img{
  width: 16px;
  height: 16px;
}

nav > ul{
  border-bottom: solid black 1px;
}

footer > p{
  margin: 0;
}

h1>span{
  display: block;
  color: gray;
  font-style: italic;
}

